/*ウェブサイト全体のスタイル設定*/
body{
    margin: 0; /*ウェブサイトの端から端まで要素を表示させる*/
    padding: 0; /*同上*/
}


/*タイトル文字スタイル*/
.title{
    color:white; /*テキストの文字色*/
    font-size: 24px;/*テキストの大きさ*/
    text-align: center;/*テキストの中央寄せ*/
    padding-top:20px; /*要素内の上側余白*/
    padding-bottom:20px; /*要素内の下側余白*/
    margin-top:0; /*要素外の上側余白*/
}

/*タイトル背景色スタイル*/
.top{
    background-color: cadetblue;/*背景の色を指定*/
    width: 100%;/*幅を画面いっぱいに広げる*/
    padding:0px;/*要素内の余白をすべて０に*/
    margin:0px;/*要素外の余白をすべて０に*/
}

/*以下地図スタイル*/
