/*ウェブサイト全体のスタイル設定*/
 html, body {
        height: 100%;/*ウェブサイトを縦いっぱいに表示*/
        margin: 0;/*ウェブサイトをみちみちに表示*/
        padding: 0;
	 
      }


/*タイトル文字スタイル*/
.title{
    color:white; /*テキストの文字色*/
    font-size: 24px;/*テキストの大きさ*/
    text-align: center;/*テキストの中央寄せ*/
    padding-top:20px; /*要素内の上側余白*/
    padding-bottom:20px; /*要素内の下側余白*/
    margin-top:0; /*要素外の上側余白*/

/*タイトル背景色スタイル*/
}
.top{
    background-color: cadetblue;/*背景の色を指定*/
    width: 100%;/*幅を画面いっぱいに広げる*/
    padding:0px;/*要素内の余白をすべて０に*/
    margin:0px;/*要素外の余白をすべて０に*/
}

/*以下地図スタイル*/
#map{
    width: 100%;
    height: 90%;

}

/*地図スタイルここまで*/

/*以下ポップアップスタイル*/
.pop{
    z-index:20;
}
/*ポップアップスタイルここまで*/