/*ウェブサイト全体のスタイル設定*/
 html, body {
        height: 100%;/*ウェブサイトを端まで表示*/
        margin: 0;/*ウェブサイトを端まで表示*/
        padding: 0;/*ウェブサイトを端まで表示*/
	    background-color: cadetblue;/*地図より後ろを青色に*/
      }


/*タイトル文字スタイル*/
.title{
	font-family: "HG丸ｺﾞｼｯｸM-PRO","Yu Gothic","Noto Sans";
    color:white; /*文字色*/
    font-size: 24px;/*テキストサイズ*/
    text-align: center;/*中央寄せ*/
    padding-top: 25px; /*要素内の上側余白*/
    padding-bottom:25px; /*要素内の下側余白*/
    margin:0; /*要素外の余白をすべて０に*/

/*タイトル背景色スタイル*/
}
.top{
    background-color: cadetblue;/*背景の色を指定*/
    width: 100%;/*幅を画面いっぱいに広げる*/
    padding:0px;/*要素内の余白をすべて０に*/
    margin:0px;/*要素外の余白をすべて０に*/
    box-shadow: 3px black;/*ドロップシャドウ　調整中*/
}

/*地図内スタイル*/
#map{
    width: 100%;/*地図を横幅いっぱいに*/
    height: 90%;/*地図を縦幅いっぱいに*/
    margin-top:0px; /*要素外の上側余白を０に*/
    padding-top:0px; /*要素内の上側余白を０に*/
    z-index:0;/*地図のz座標を０に*/
}

.popup-content{  /*地図内ふきだし*/ 
    background-color: aquamarine;
    
}


/*地図内スタイルここまで*/

/*ポップアップスタイルここから*/
.open {
	cursor:pointer; 
}
.overlay {
	display: visible;
}
#popup:checked + .overlay {
	display: block;
	background-color: white;
	position: fixed;
	width: 80%;
	height: 80%;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 200px;
	background-color: white;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close {
	cursor:pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 20px;
}


/*ポップアップスタイルここまで*/