.title{
    color:white;
    font-size: 24px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:0;
    text-align: center;

}
.top{
    background-color: cadetblue;
    padding:0px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
body{
    margin: 0;
    padding: 0;
}